body {
  background-color: #FAFAFA;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  color: #596377;
}


/* Buttons */

/* CTA */
  /* Primary CTA */

  /* Secondary CTA */
  .navigationbar .navigationvpp .secondarybutton {
    display: block;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D4D9E2;
    border-radius: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
  }

/* Links */

  /* Primary Links*/
  .primarylinks {
    display: relative;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #060628;
    border: none;
    margin-left: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    vertical-align: middle;
  }

  .primarylinks:hover {
    display: relative;
    background-color: #EEEFF9;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #060628;
    border: none;
    margin-left: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    vertical-align: middle;
  }


/* Navigation */

.navigationbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
}

.navigationbar .navigationleft {
  padding-left: 24px;
  padding-top: 16px;
}


.navigationbar .navigationleft .logo {
  vertical-align: middle;
}

.navigationbar .navigationright {
  display: flex;
  vertical-align: middle;
  border-left: 1px solid #E5E5E5;
  justify-content: space-between;
}

.navigationbar .navigationvpp  {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 16px;
 
}

.navigationbar .navigationright .accountleft .username {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.navigationbar .navigationright .accountleft .companyname {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 5px;

}

.navigationbar .navigationright .accountright {
  display: flex;
  vertical-align: middle;
  width: 24px;
  margin-left: 20px;
}


.sidemenu {
  width: 238px;
  background-color: white;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  padding-right: 14px;
  height: 100vh;
  border-right: 1px solid #E5E5E5;

}

.sidemenu .menutitles {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #8A8A8E;
  padding-left: 24px;
  padding-top: 40px;
  padding-bottom: 24px;
}

.maintrunk {
  display: flex;
}

.maintrunk .images {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 830px;
  height: 400px;
  margin-left: 32px;
  margin-top: 40px;
  border-radius: 8px;
}

.maintrunk .images .productimages{
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.maintrunk .images .productimages .thumbnails {
  display: flex;
  flex-direction: column;
}

.maintrunk .images .productimages .thumbnails .thumbs {
  width: 179px;
  height: 108px;
  margin-left: 16px;
  margin-top: 16px;
  margin-right: 16px;
  justify-content: space-between;
  border: 1px solid #D4D9E2;
  border-radius: 6px;
}

.maintrunk .images .productimages .heroimage .hero {
  width: 600px;
  height: 368px;
  border: 1px solid #D4D9E2;
  border-radius: 6px;
  margin-left: 0px;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

}

.maintrunk .images .chartinfo .chartheadline {
  margin-top: 50px;
  margin-bottom: 22px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #060628;

}