body {
  background-color: #FAFAFA;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
}


/* Buttons */

/* CTA */
  /* Primary CTA */

  /* Secondary CTA */
  .navigationbar .navigationvpp .secondarybutton {
    display: block;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D4D9E2;
    border-radius: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
  }

/* Links */

  /* Primary Links*/
  .primarylinks {
    display: relative;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-left: 34px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    vertical-align: middle;
  }

  .primarylinks:hover {
    display: relative;
    background-color: #EEEFF9;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-left: 34px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    vertical-align: middle;
  }


/* Navigation */

.navigationbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
}

.navigationbar .navigationleft {
  padding: 10px;
}


.navigationbar .logo {
  vertical-align: middle;
}

.navigationbar .navigationright {
  display: flex;
  vertical-align: middle;
  border-left: 1px solid #E5E5E5;
  justify-content: space-between;
}

.navigationbar .navigationvpp  {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 15px;
 
}

.navigationbar .navigationright .accountleft .username {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.navigationbar .navigationright .accountleft .companyname {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 5px;

}

.navigationbar .navigationright .accountright {
  display: flex;
  vertical-align: middle;
  width: 24px;
  margin-left: 20px;
}